<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- apparently i want this. i actually don't give a rat's ass about IE, but... -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>Legal gunge: This is a personal blog. The opinions expressed here are my own, and not those of my employer.</p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
  </body>
</html>
